* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      list-style: none;
      margin: 20px 0px;

      li {
        font-family: century;
        font-size: 1.1rem;
        font-weight: bold;

        a {
          text-decoration: none;
          color: white;
          padding: 8px 25px;
          transition: all 0.5s ease;

          &:hover {
            background-color: white;
            color: black;
            box-shadow: 0 0 10px white;
          }
        }
      }
    }
  }
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  .icon-mobile-nav {
    display: none;
    height: 30px;
    width: 30px;
    color: white;
    top: 0;
    text-align: center;
    padding-top: 20px;
  }
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}

#home::before {
  content: '';
  position: absolute;
  background: url('../img/84852_0.jpg') no-repeat center center;
  background-size: 1500px 1000px;
  top: 0;
  right: 0;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.85;
}

.main {
  display: flex;
  font-size: 40px;
  align-items: center;
  position: absolute;
  margin-bottom: 70px;

  .text {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    border: 2px solid white;
    margin: 40px;
    align-items: center;
    text-align: justify;
    border-radius: 10px;

    .h1 {
      margin: auto;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .navbar ul {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: 0;
      top: -20px;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 80px;
      transform: translateX(100%);
      transition: all 0.2s ease-in;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      li {
        margin: 30px 0;
        a {
          font-size: 25px;
        }
      }

      &.nav-open {
        .navbar ul {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          transform: translateX(0%);
        }
      }
      .icon-mobile-nav[name='close-outline'] {
        display: block;
      }
      .icon-mobile-nav[name='menu-outline'] {
        display: none;
      }
    }

    .btn-mobile-nav .icon-mobile-nav {
      display: block;

      &[name='close-outline'] {
        display: none;
      }
    }
  }

  .main {
    font-size: 30px;

    .text {
      width: 300px;
      height: 75px;
      margin: 30px;
    }
  }
}

@media (max-width: 500px) {
  .main {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    left: 5%;
    top: 60%;
    .text {
      width: 200px;
      height: 50px;
      margin: 10px;
    }
  }

  #home::before {
    background-size: 1400px 950px;
  }
}
